<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static '/css/style.css' %}">
    <title>Revolutionary Crown</title>
</head>

<body>
    <h1>Let's customize your character!</h1>
    <h1>(yes, this is all text based but I can't just call you...well You the whole time)</h1>
    <div class="character_creator">
        <h1>Character Creator:</h1>
        <form action="/game1" method="POST">
            {% csrf_token %}
            <label for="ch_name">Character Name:</label>
            <input type="text" name='ch_name'> <br>
            <label for="height">Height:</label>
            <input type="text" name='height'><br>
            <label for="weight">Weight:</label>
            <input type="text" name='weight'><br>
            <label for="gender">Gender:</label>
            <select name="gender" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <br>
            <input type="submit" value="Play">
        </form>
    </div>
    <a href="https://www.hitwebcounter.com" target="_blank">
        <img src="https://hitwebcounter.com/counter/counter.php?page=7353283&style=0009&nbdigits=5&type=page&initCount=0"
            title="Web Counter" Alt="counter free" id = 'counter2' border ="3">
    </a>
</body>

</html>